In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [ ]:
df=pd.read_csv('marketing_campaign.csv')
print(df)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df

In [ ]:
print(df.duplicated().sum())

In [ ]:
df.columns

In [ ]:
df.columns=df.columns.str.strip()
df

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.drop(['Z_CostContact', 'Z_Revenue'], axis=1, inplace=True)

In [ ]:
df

In [ ]:
df['Age']=2024-df['Year_Birth']
df

In [ ]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='mixed')

In [ ]:
df

In [ ]:
df.value_counts('Education')

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='Education',data=df)
plt.xlabel('Education')
plt.show()

In [ ]:
fig = px.bar(df, x = 'Education', y = "Income", color = "Education", title = "Education vs Income")
fig.update_layout(xaxis = {'categoryorder':'total descending'})
fig.show()

In [ ]:
df.value_counts('Marital_Status')

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='Marital_Status',data=df)
plt.xlabel('Marital_Status')
plt.show()

In [ ]:
fig = px.bar(df, x = 'Marital_Status', y = "Income", color = "Marital_Status", title = "Marital_Status vs Income")
fig.update_layout(xaxis = {'categoryorder':'total descending'})
fig.show()

In [ ]:
df.value_counts('AcceptedCmp1')

In [ ]:
df.value_counts('AcceptedCmp2')

In [ ]:
df.value_counts('AcceptedCmp3')

In [ ]:
df.value_counts('AcceptedCmp4')

In [ ]:
df.value_counts('AcceptedCmp5')

In [ ]:
df.value_counts('Response')

In [ ]:
df.groupby("Marital_Status")["Recency"].sum().plot(kind = 'pie' ,autopct='%1.1f%%')
plt.title('Distribution of Recency by Marital Status')
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='Kidhome',data=df,palette='Set1')
plt.xlabel('Kidhome')
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='Teenhome',data=df, palette="Set2")
plt.xlabel('Teenhome')
plt.show()

In [ ]:
df = df[df['Age'] <= 100]
df

In [ ]:
age_counts=df['Age'].value_counts().sort_values(ascending=False)
plt.figure(figsize=(14,7))
sns.countplot(x='Age',data=df,order=age_counts.index)
plt.xlabel('Age')
plt.xticks(rotation=90)
plt.show()

In [ ]:
sns.scatterplot(x='Age' ,y= 'Recency' ,data=df)
plt.title("Scatter Plot of Age vs. Recency")
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='NumDealsPurchases',data=df)
plt.xlabel('NumDealsPurchases')
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='NumStorePurchases',data=df)
plt.xlabel('NumStorePurchases')
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='NumWebPurchases',data=df)
plt.xlabel('NumWebPurchases')
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='NumCatalogPurchases',data=df)
plt.xlabel('NumCatalogPurchases')
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.barplot(x='Marital_Status',y='NumStorePurchases',data=df, errorbar=('ci',0))
plt.xlabel('Marital_Status')
plt.ylabel('NumStorePurchases')
plt.title('Marital_Status vs NumStorePurchases')
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.barplot(x='Marital_Status',y='NumWebPurchases',data=df, errorbar=('ci',0))
plt.xlabel('Marital_Status')
plt.ylabel('NumWebPurchases')
plt.title('Marital_Status vs NumWebPurchases')
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.barplot(x='Marital_Status',y='NumCatalogPurchases',data=df, errorbar=('ci',0))
plt.xlabel('Marital_Status')
plt.ylabel('NumCatalogPurchases')
plt.title('Marital_Status vs NumCatalogPurchases')
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.barplot(x='Marital_Status',y='NumWebVisitsMonth',data=df, errorbar=('ci',0))
plt.xlabel('Marital_Status')
plt.ylabel('NumWebVisitsMonth')
plt.title('Marital_Status vs NumWebVisitsMonth')
plt.xticks(rotation=45)
plt.show()

In [ ]:
total_sum = df["NumDealsPurchases"].sum()
print(f"Total sum of NumDealsPurchases: {total_sum}")

In [ ]:
total_sum = df["NumWebPurchases"].sum()
print(f"Total sum of NumWebPurchases: {total_sum}")

In [ ]:
total_sum = df["NumCatalogPurchases"].sum()
print(f"Total sum of NumCatalogPurchases: {total_sum}")

In [ ]:
total_sum = df["NumStorePurchases"].sum()
print(f"Total sum of NumStorePurchases: {total_sum}")

In [ ]:
total_sum = df["NumWebVisitsMonth"].sum()
print(f"Total sum of NumWebVisitsMonth: {total_sum}")

In [ ]:
data = df.groupby("Marital_Status")["MntMeatProducts"].sum().reset_index()
fig = px.pie(data, values='MntMeatProducts', names='Marital_Status', title='Meat Products Sum by Marital Status')
fig.show()

In [ ]:
data = df.groupby("Marital_Status")["MntFruits"].sum().reset_index()
fig = px.pie(data, values='MntFruits', names='Marital_Status', title='Fruit Products Sum by Marital Status')
fig.show()

In [ ]:
data = df.groupby("Marital_Status")["MntWines"].sum().reset_index()
fig = px.pie(data, values='MntWines', names='Marital_Status', title='wine Products Sum by Marital Status')
fig.show()

In [ ]:
data = df.groupby("Marital_Status")["MntFishProducts"].sum().reset_index()
fig = px.pie(data, values='MntFishProducts', names='Marital_Status', title='Fish Products Sum by Marital Status')
fig.show()

In [ ]:
data = df.groupby("Marital_Status")["MntSweetProducts"].sum().reset_index()
fig = px.pie(data, values='MntSweetProducts', names='Marital_Status', title='Sweet Products Sum by Marital Status')
fig.show()

In [ ]:
data = df.groupby("Marital_Status")["MntGoldProds"].sum().reset_index()
fig = px.pie(data, values='MntGoldProds', names='Marital_Status', title='Gold Products Sum by Marital Status')
fig.show()

In [ ]:

correlation = df[['Income','Kidhome','Teenhome','Recency','MntWines','MntFruits','MntMeatProducts','MntFishProducts','MntSweetProducts',
           'MntGoldProds','NumDealsPurchases','NumWebPurchases','NumCatalogPurchases','NumStorePurchases','NumWebVisitsMonth']].corr()
plt.figure(figsize=(10,8))
sns.heatmap(correlation, cmap='coolwarm')
for i in range(correlation.shape[0]):
    for j in range(correlation.shape[1]):
        plt.text(j+0.5, i+0.5, "{:.2f}".format(correlation.iloc[i, j]), ha='center', va='center', color='white')
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
fig = px.sunburst(df, path=['Education', 'Marital_Status'], values='Income', title='Sunburst Plot of Income by Education and Marital Status')
fig.show()

In [ ]:
complain_counts = df['Complain'].value_counts()
plt.figure(figsize=(8,8))
complain_counts.plot(kind='pie', autopct='%1.1f%%')
plt.title('Distribution of Complains')
plt.ylabel('')
plt.show()

In [ ]:
df.value_counts('Complain')

In [ ]:
df.groupby("Education")["Complain"].sum().plot(kind = 'pie' ,autopct='%1.1f%%')
plt.title('Distribution of Complaints by Education')
plt.ylabel('')
plt.show()

In [ ]:
df.groupby("Marital_Status")["Complain"].sum().plot(kind = 'pie' ,autopct='%1.1f%%')
plt.title('Distribution of Complaints by Marital_Status')
plt.show()

In [ ]:
df.columns

In [ ]:
total_sum = df["MntWines"].sum()
print(f"Total sum of MntWines: {total_sum}")

In [ ]:
total_sum = df["MntFruits"].sum()
print(f"Total sum of MntFruits: {total_sum}")

In [ ]:
total_sum = df["MntMeatProducts"].sum()
print(f"Total sum of MntMeatProducts: {total_sum}")

In [ ]:
total_sum = df["MntFishProducts"].sum()
print(f"Total sum of MntFishProducts: {total_sum}")

In [ ]:
total_sum = df["MntSweetProducts"].sum()
print(f"Total sum of MntSweetProducts: {total_sum}")

In [ ]:
total_sum = df["MntGoldProds"].sum()
print(f"Total sum of MntGoldProds: {total_sum}")

# Conclusion:

1. The job with highest salary is Data Analytics lead.
2. The job with second highest salary is Principal Data Engineer.
3. The Employee who have Expert level experience gets the highest salary.
4. The Employee with remote ratio is 100 has highest salary.
5. The most common employment type here is full-time.
6. The majority of people work in medium-sized companies.
7. In 2022, Salary has increased than in 2021 and 2020.
8. The most prevalent employee level is Senior Level.
9. The Employee who has remote ratio 100 are the highest. 
10. Most of the workers residence is in US.
11. Employee's who are working in a company located at RU gets the highest salary and the second is US.
12. Most of the Employees are working in a company which are located at US.
13. Most of the Employees are working as Data Scientist and Data Engineer.
14. Employee's whose residence is in MY gets the highest salary.
15. The majority of people work as full time gets the highest salary.
16. In 2021, who had mid-level experience got highest salary.
17. Employee who work in a large company gets the highest salary.
18. The majority of people who has senior level experience receives highest salary.