In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [ ]:
df=pd.read_csv('ds_salaries.csv')

In [ ]:
print(df)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
df.columns=df.columns.str.strip()

In [ ]:
df

In [ ]:
df.info

In [ ]:
df.describe

In [ ]:
sorted_order=df.groupby('job_title')['salary_in_usd'].mean().sort_values(ascending=False).index
plt.figure(figsize=(14, 7))
sns.barplot(x='job_title', y='salary_in_usd', data=df,order=sorted_order, palette='viridis', errorbar=('ci',0))
plt.xlabel('Job Title')
plt.ylabel('Salary')
plt.title('Salary Trends based on Job Title')
plt.xticks(rotation=90)
plt.show()

In [ ]:
sorted_order=df.groupby('company_size')['salary_in_usd'].mean().sort_values(ascending=False).index
plt.figure(figsize=(14,7))
sns.barplot(x='company_size',y='salary_in_usd',data=df,order=sorted_order, errorbar=('ci',0))
plt.xlabel('Company Size')
plt.ylabel('Salary')
plt.title('Salary Trends based on Company Size')
plt.xticks(rotation=0)
plt.show()

In [ ]:
sorted_order=df.groupby('experience_level')['salary_in_usd'].mean().sort_values(ascending=False).index
plt.figure(figsize=(14,7))
sns.barplot(x='experience_level',y='salary_in_usd',data=df,order=sorted_order, errorbar=('ci',0))
plt.xlabel('Experience Level')
plt.ylabel('Salary')
plt.title('Salary Trends based on Experience Level')
plt.xticks(rotation=0)
plt.show()

In [ ]:
plt.figure(figsize=(14, 7))
plt.scatter(x=df['remote_ratio'], y=df['salary'], alpha=0.5)
plt.yscale('log')  
plt.xlabel('Remote ratio')
plt.ylabel('Salary')
plt.title('Salary Trends based on Remote Ratio')
plt.xticks(rotation=0)
plt.show()

In [ ]:
import plotly.express as px
emp_type = df['employment_type'].value_counts()
emp_type_df = emp_type.reset_index()
emp_type_df.columns = ['employment_type', 'count']
fig = px.pie(emp_type_df, values='count', names='employment_type', title='Employment Type')
fig.show()

In [ ]:
comp_size = df['company_size'].value_counts()
comp_size_df = comp_size.reset_index()
comp_size_df.columns = ['company_size', 'count']
fig = px.pie(comp_size_df, values='count', names='company_size', title='Company Size')
fig.show()

In [ ]:
df.value_counts('remote_ratio')

In [ ]:
sorted_order=df.groupby('work_year')['salary_in_usd'].mean().sort_values(ascending=False).index
plt.figure(figsize=(14,7))
sns.barplot(x='work_year',y='salary_in_usd',data=df,order=sorted_order, errorbar=('ci',0),palette='husl')
plt.xlabel('Work Year')
plt.ylabel('Salary')
plt.title('Salary Trends based on Working year')
plt.xticks(rotation=0)
plt.show()

In [ ]:
plt.figure(figsize=(14,7))
sns.countplot(x='experience_level',data=df)
plt.xlabel('Experience Level')
plt.title('Experience Level')
plt.show()

In [ ]:
data = df.groupby("experience_level")["salary_in_usd"].sum().reset_index()
fig = px.pie(data, values='salary_in_usd', names='experience_level', title='Salary based on Experience Level')
fig.show()

In [ ]:
residence_counts=df['employee_residence'].value_counts().sort_values(ascending=False)
plt.figure(figsize=(14,7))
sns.countplot(x='employee_residence',data=df,order=residence_counts.index)
plt.xlabel('employee_residence')
plt.title('Residence of Employees')
plt.xticks(rotation=90)
plt.show()

In [ ]:
sorted_order=df.groupby('company_location')['salary_in_usd'].mean().sort_values(ascending=False).index
plt.figure(figsize=(14,7))
sns.barplot(x='company_location',y='salary_in_usd',data=df,order=sorted_order, errorbar=('ci',0),palette='husl')
plt.xlabel('Company Location')
plt.ylabel('Salary')
plt.title('Salary Trends based on Company Location')
plt.xticks(rotation=0)
plt.show()

In [ ]:
compLoc_counts=df['company_location'].value_counts().sort_values(ascending=False)
plt.figure(figsize=(14,7))
sns.countplot(x='company_location',data=df,order=compLoc_counts.index)
plt.xlabel('Company Location')
plt.title('Location of Companies where Employees working')
plt.xticks(rotation=90)
plt.show()

In [ ]:
job_counts=df['job_title'].value_counts().sort_values(ascending=False)
plt.figure(figsize=(14,7))
sns.countplot(x='job_title',data=df,order=job_counts.index)
plt.xlabel('Job Title')
plt.title('Names of Jobs')
plt.xticks(rotation=90)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

correlation = df[['work_year', 'salary', 'salary_in_usd', 'remote_ratio']].corr()

plt.figure(figsize=(8, 6))
sns.heatmap(correlation, cmap='coolwarm')

# Add annotations manually
for i in range(correlation.shape[0]):
    for j in range(correlation.shape[1]):
        plt.text(j+0.5, i+0.5, "{:.2f}".format(correlation.iloc[i, j]), ha='center', va='center', color='white')

plt.title('Correlation Heatmap')
plt.show()

In [ ]:
fig = px.sunburst(df, path=['company_size', 'work_year'], values='salary', title='Sunburst Plot of Salary by work year and Company Size')
fig.show()

In [ ]:
fig = px.sunburst(df, path=['experience_level', 'work_year'], values='salary', title='Sunburst Plot of Salary by Work Year and Experience Level')
fig.show()

In [ ]:
data = df.groupby("employment_type")["salary_in_usd"].sum().reset_index()
fig = px.pie(data, values='salary_in_usd', names='employment_type', title='Employees Salary based on type of Employment')
fig.show()

In [ ]:
sorted_order=df.groupby('employee_residence')['salary_in_usd'].mean().sort_values(ascending=False).index
plt.figure(figsize=(14, 7))
sns.barplot(x='employee_residence', y='salary_in_usd', data=df,order=sorted_order, palette='Set3', errorbar=('ci',0))
plt.xlabel('Residence of Employees')
plt.ylabel('Salary')
plt.title('Distribution of Salary based on Employees Residence')
plt.xticks(rotation=90)
plt.show()

# Conclusion:

1. Customers who completed Graduation are the highest.
2. Customers who has done Graduation tends to have highest income.
3. Most of the Customers are married.
4. Most of the Customers who are married tends to have highest income.
5. Only few Customers accepted the offer in 2nd Campaign. But the value gradually increased in the next campaigns.
6. Most of the people accepted the offer in the last campaign.
7. Married individuals have the highest recency, followed by those together, single, divorced, and widowed, with the lowest recency.
8. Most customers have no children at home, followed by those with one child, and very few with two children.
9. Highest number of purchases made with discount is 1.
10. Highest number of purchases made directly in stores is 3.
11. Highest Number of purchases made through the company’s website is 2.
12. Most of the Customers didn't used catalog for purchasing.
13. Most of the Customers directly purchased from stores than through website and catalog
14. Number of visits to company’s website in the last month is 11,777.
15. From the last 2 years, most of the customers brought Wine and Fish.
16. Only 0.9% complains were received from the customers.
17. Most of the Wine, Meat, Fish, Sweet, Fruit, Gold Products were purchased by the Married Customers.